<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>

  
  <h1>MakersBnB</h1>
<%= Space.find_by(id: session[:space_id]).name %>
      
<form action="/bookings" method="post" >

  <label for="start_date">Start date:</label>
  <input type="date" id="start_date" name="start date">
  <label for="end_date">End date:</label>
  <input type="date" id="end_date" name="end date">
  <input type="submit" value="Submit">
</form>
  </br></br>
</body>
</html>


