<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>

<h1>Here are your requests</h1>



<form action="/sessions/destroy" method="post">
<input type="submit" value='Sign out' />
</form>

<form action="/spaces/index" method="post">
<input type="submit" value='Home' />
</form>

<a href="/spaces">Homepage</a></br>

</body>
</html>