<!DOCTYPE html>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>
<center>
<h1>Sign up below, friends!</h1>

<form action="/users" method="post" style="text-align: center;">
  <label for="name">Name:</label></br>
  <input type="text" name="name" required/></br>
  <label for="email">Email:</label></br>
  <input type="email" name="email" required/></br>
  <label for="password">Password:</label></br>
  <input type="password" name="password" required/></br>
  <input type="submit" value="Submit" />
</form>


<span class="extruded">Made by Dafna, Jack, Jason, Meg and Ziad</span></br>

</body>
</html>