<!DOCTYPE html>
<html>
<head>
    <title>New space</title>
</head>
<body>
  <form action="/spaces" method="post">
    <input type="text" name="space_name"/>
    <input type="text" name="price"/>
    <input type="text" name="description"/>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>