<!DOCTYPE html>
<html>
<head>
    <title>New space</title>
    <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>
<h1>Create a space</h1>
  <form action="/spaces" method="post">
    <lable for="name">Name:</label></br>
    <input type="text" name="name" required/></br></br>
    <lable for="description">Description:</label></br>
    <input type="text" name="description" required/></br></br>
    <lable for="price">Price:</label></br>
    <input type="text" name="price" required/></br>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>