<!DOCTYPE html>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>

<!-- <style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

f {
  color: white;
  text-align: center;

</style> -->

</head>
<body>

<h1>Login in below, friends!</h1>

<h2><%= flash[:notice] %></h2>

<form action="/sessions" method="post">

  <label for="email">Email:</label></br>
  <input type="email" name="email"/></br>
  <label for="password">Password:</label></br>
  <input type="password" name="password"/></br>
  <input type="submit" value="Submit" />
</form>

</body>
</html>